body {
    background-color: darkslategray;
}

.topContainer {
    display: grid;
    justify-items: center;
    color: whitesmoke;
}

.header {
    margin-bottom: 0;
}

.subtext {
    margin-top: 0;
}

.buttonContainer {
    display: grid;
    justify-items: center;
}

/* .gridContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;

} */

.gridContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.grid {
    --size: 4;
    color: blue;
    height: 500px;
    width: 500px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(var(--size), 1fr);
    grid-template-rows: repeat(var(--size), 1fr);
    border: gray;
    gap: 0;
}

.pixel {
    background-color: white;
    border: gray;
}

/* .pixel:hover {
    background-color: lightgray;
    cursor: pointer;
} */