body {
    background-color: darkslategray;
}

.topContainer {
    text-align: center;
    color: whitesmoke;
}

.header {
    margin-bottom: 0;
}

.subtext {
    margin-top: 0;
}

.buttonContainer {
    text-align: center;
}

/* .gridContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 500px;

} */

.gridContainer {
    display: grid;
    justify-content: center;
    align-content: center;
}

.grid {
    display: grid;
    height: 500px;
    width: 500px;
    background-color: white;
    border: gray;
    gap: 0;
}

.pixel {
    cursor: crosshair;
}

/* .pixel:hover {
    background-color: lightgray;
    cursor: pointer;
} */